{% extends "base.html" %}
{% load i18n %}

{% block content %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-{% if message.tags %}{{ message.tags }}{% else %}info{% endif %} alert-dismissible fade show">
  <button class="close" type="button" data-dismiss="alert" aria-label="close">×</button>
  {{ message }}
</div>
{% endfor %}
{% endif %}
<h1 class="my-4">{% translate 'StatusesIndexTitle' %}</h1>
<a class="btn btn-primary mb-4" href="{% url 'statuses_create' %}">{% translate 'StatusesIndexCreateStatus' %}</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>{% translate 'StatusesIndexTableName' %}</th>
            <th>{% translate 'StatusesIndexTableCreatedAt' %}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% if statuses %}
        {% for status in statuses %}
        <tr>
            <td>{{status.id}}</td>
            <td>{{status.name}}</td>
            <td>{{status.created_at|date:"d.m.Y H:i" }}</td>
            <td>
                <a href="{% url 'statuses_update' pk=status.id %}">{% translate 'StatusesIndexTableChange' %}</a>
                <br>
                <a href="{% url 'statuses_delete' pk=status.id %}">{% translate 'StatusesIndexTableDelete' %}</a>
            </td>
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
</table>
{% endblock %}