{% extends "base.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block content %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-{% if message.tags %}{{ message.tags }}{% else %}info{% endif %} alert-dismissible fade show">
  <button class="close" type="button" data-dismiss="alert" aria-label="close">×</button>
  {{ message }}
</div>
{% endfor %}
{% endif %}

<h1 class="my-4">{{ list_title }}</h1>

{% if create_button %}
<a class="btn btn-primary mb-4" href="{% url create_button.url %}">{{ create_button.name }}</a>
{% endif %}

{% if users_list %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>{% translate 'UsersIndexTableUsername' %}</th>
            <th>{% translate 'UsersIndexTableUsernameFull' %}</th>
            <th>{% translate 'Creation date' %}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% if users %}
        {% for user in users %}
        <tr>
            <td>{{user.id}}</td>
            <td>{{user.username}}</td>
            <td>{{user}}</td>
            <td>{{user.date_joined|date:"d.m.Y H:i" }}</td>
            <td>
                <a href="{% url 'users_update' pk=user.id %}">{% translate 'Change' %}</a>
                <br>
                <a href="{% url 'users_delete' pk=user.id %}">{% translate 'Delete' %}</a>
            </td>
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
</table>
{% endif %}

{% if statuses_list %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>{% translate 'Name' %}</th>
            <th>{% translate 'Creation date' %}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% if statuses %}
        {% for status in statuses %}
        <tr>
            <td>{{status.id}}</td>
            <td>{{status.name}}</td>
            <td>{{status.created_at|date:"d.m.Y H:i" }}</td>
            <td>
                <a href="{% url 'statuses_update' pk=status.id %}">{% translate 'Change' %}</a>
                <br>
                <a href="{% url 'statuses_delete' pk=status.id %}">{% translate 'Delete' %}</a>
            </td>
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
</table>
{% endif %}

{% if labels_list %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>{% translate 'Name' %}</th>
            <th>{% translate 'Color' %}</th>
            <th>{% translate 'Creation date' %}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% if labels %}
        {% for label in labels %}
        <tr>
            <td>{{label.id}}</td>
            <td>{{label.name}}</td>
            <td>{{label.get_color_display}}</td>
            <td>{{label.created_at|date:"d.m.Y H:i" }}</td>
            <td>
                <a href="{% url 'labels_update' pk=label.id %}">{% translate 'Change' %}</a>
                <br>
                <a href="{% url 'labels_delete' pk=label.id %}">{% translate 'Delete' %}</a>
            </td>
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
</table>
{% endif %}

{% if tasks_list %}
<div class="card-body bg-light">
    <form method="get">
        {% bootstrap_form filter.form %}
        <div class="form-group">
            <input class="btn btn-primary" type="submit" value="{% translate 'Display' %}">
            <a class="btn btn-secondary" href="{% url 'tasks_index' %}">{% translate 'Clear' %}</a>
        </div>
    </form>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>{% translate 'Name' %}</th>
            <th>{% translate 'TasksIndexTableStatus' %}</th>
            <th>{% translate 'TasksIndexTableAuthor' %}</th>
            <th>{% translate 'TasksIndexTableExecutor' %}</th>
            <th>{% translate 'Creation date' %}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% if tasks %}
        {% for task in tasks %}
        <tr>
            <td>{{task.id}}</td>
            <td><a href="{% url 'tasks_detail' pk=task.id %}">{{task.name}}</a></td>
            <td>{{task.status}}</td>
            <td>{{task.author}}</td>
            <td>{{task.executor}}</td>
            <td>{{task.created_at|date:"d.m.Y H:i" }}</td>
            <td>
                <a href="{% url 'tasks_update' pk=task.id %}">{% translate 'Change' %}</a>
                <br>
                <a href="{% url 'tasks_delete' pk=task.id %}">{% translate 'Delete' %}</a>
            </td>
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
</table>
{% endif %}
{% endblock %}