{% extends "base.html" %}
{% load i18n %}

{% block content %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-{% if message.tags %}{{ message.tags }}{% else %}info{% endif %} alert-dismissible fade show">
  <button class="close" type="button" data-dismiss="alert" aria-label="close">×</button>
  {{ message }}
</div>
{% endfor %}
{% endif %}

<h1 class="my-4">{{ list_title }}</h1>

{% if create_button %}
<a class="btn btn-primary mb-4" href="{% url create_button.url %}">{{ create_button.name }}</a>
{% endif %}

{% if users_list %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>{% translate 'UsersIndexTableUsername' %}</th>
            <th>{% translate 'UsersIndexTableUsernameFull' %}</th>
            <th>{% translate 'Creation date' %}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% if users %}
        {% for user in users %}
        <tr>
            <td>{{user.id}}</td>
            <td>{{user.username}}</td>
            <td>{{user}}</td>
            <td>{{user.date_joined|date:"d.m.Y H:i" }}</td>
            <td>
                <a href="{% url 'users_update' pk=user.id %}">{% translate 'Change' %}</a>
                <br>
                <a href="{% url 'users_delete' pk=user.id %}">{% translate 'Delete' %}</a>
            </td>
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
</table>
{% endif %}

{% if statuses_list %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>{% translate 'Name' %}</th>
            <th>{% translate 'Creation date' %}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% if statuses %}
        {% for status in statuses %}
        <tr>
            <td>{{status.id}}</td>
            <td>{{status.name}}</td>
            <td>{{status.created_at|date:"d.m.Y H:i" }}</td>
            <td>
                <a href="{% url 'statuses_update' pk=status.id %}">{% translate 'Change' %}</a>
                <br>
                <a href="{% url 'statuses_delete' pk=status.id %}">{% translate 'Delete' %}</a>
            </td>
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
</table>
{% endif %}

{% if tags_list %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>{% translate 'Name' %}</th>
            <th>{% translate 'Creation date' %}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% if tags %}
        {% for tag in tags %}
        <tr>
            <td>{{tag.id}}</td>
            <td>{{tag.name}}</td>
            <td>{{tag.created_at|date:"d.m.Y H:i" }}</td>
            <td>
                <a href="{% url 'tags_update' pk=tag.id %}">{% translate 'Change' %}</a>
                <br>
                <a href="{% url 'tags_delete' pk=tag.id %}">{% translate 'Delete' %}</a>
            </td>
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
</table>
{% endif %}

{% if tasks_list %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>{% translate 'Name' %}</th>
            <th>{% translate 'TasksIndexTableStatus' %}</th>
            <th>{% translate 'TasksIndexTableAuthor' %}</th>
            <th>{% translate 'TasksIndexTablePerformer' %}</th>
            <th>{% translate 'Creation date' %}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% if tasks %}
        {% for task in tasks %}
        <tr>
            <td>{{task.id}}</td>
            <td><a href="{% url 'tasks_detail' pk=task.id %}">{{task.name}}</a></td>
            <td>{{task.status}}</td>
            <td>{{task.author}}</td>
            <td>{{task.performer}}</td>
            <td>{{task.created_at|date:"d.m.Y H:i" }}</td>
            <td>
                <a href="{% url 'tasks_update' pk=task.id %}">{% translate 'Change' %}</a>
                <br>
                <a href="{% url 'tasks_delete' pk=task.id %}">{% translate 'Delete' %}</a>
            </td>
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
</table>
{% endif %}
{% endblock %}