<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load i18n %}
    {% load static %}
    <link rel="icon"href="{% static 'favicon.ico' %}">
    {% load bootstrap4 %}
    <title>{% translate 'Title' %}</title>
</head>
<body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
        <a class="navbar-brand" href="{% url 'index' %}">{% translate 'BaseNavbarBrand' %}</a>
        <div id="navbarToggleExternalContent" class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users_index' %}">{% translate 'BaseNavbarUsers' %}</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'statuses_index' %}">{% translate 'BaseNavbarStatuses' %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">{% translate 'BaseNavbarTags' %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">{% translate 'BaseNavbarTasks' %}</a>
                </li>
                {% endif %}
            </ul>
            {% if user.is_authenticated %}
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="btn btn-secondary mr-2" href="{% url 'logout' %}">{% translate 'BaseNavbarSignOut' %}</a>
                </li>
            </ul>
            {% else %}
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="btn btn-secondary mr-2" href="{% url 'login' %}">{% translate 'BaseNavbarSignIn' %}</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-primary" href="{% url 'users_create' %}">{% translate 'BaseNavbarSignUp' %}</a>
                </li>
            </ul>
            {% endif %}
        </div>
    </nav>
    <div class="container wrapper flex-grow-1">
        {% block content %}{% endblock %}
    </div>
    <footer>
        <div class="container my-5 pt-4 border-top">
            <a class="text-reset fw-bold" target="_blank" href="https://ru.hexlet.io">Hexlet</a>
        </div>
    </footer>
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
</body>
</html>