{% extends "base.html" %}
{% load i18n %}

{% block content %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-{% if message.tags %}{{ message.tags }}{% else %}info{% endif %} alert-dismissible fade show">
  <button class="close" type="button" data-dismiss="alert" aria-label="close">×</button>
  {{ message }}
</div>
{% endfor %}
{% endif %}
<h1 class="my-4"></h1>
<div class="card">
    <div class="card-body p-5 bg-light">
      <div class="display-4">{% translate 'IndexCardTitle' %}</div>
      <p class="lead">{% translate 'IndexCardText' %}</p>
      <hr>
      <a class="btn btn-primary btn-lg" href="https://ru.hexlet.io">{% translate 'IndexCardButton' %}</a>
    </div>
</div>
{% endblock %} 