{% extends "base.html" %}
{% load i18n %}

{% block title %}Index{% endblock %}
{% block content %}
<div class="card">
    <div class="card-body p-5 bg-light">
        <h1 class="card-title display-4">{% translate 'IndexCardTitle' %}</h1>
        <p class="card-text lead">{% translate 'IndexCardText' %}</p>
        <hr>
            <p>
                <a class="btn btn-primary btn-lg" target="_blank" href="https://ru.hexlet.io/">{% translate 'IndexCardButton' %}</a>
            </p>
    </div>
</div>
{% endblock %} 