{% extends "base.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block content %}
<h1 class="my-4">{% translate 'TaskDetailTitle' %}</h1>
<div class="card">
    <div class="card-header bg-secondary text-white">
        <h2>{{ task.name }}</h2>
    </div>
    <div class="card-body bg-light">
        <p>{{ task.description }}</p>
        <hr>
    <div class="container">
        <div class="row p-1">
            <div class="col">{% translate 'TaskDetailAuthor' %}</div>
            <div class="col">{{ task.author }}</div>
        </div>
    <div class="row p-1">
        <div class="col">{% translate 'TaskDetailExecutor' %}</div>
        <div class="col">{{ task.executor }}</div>
    </div>
    <div class="row p-1">
        <div class="col">{% translate 'TaskDetailStatus' %}</div>
        <div class="col">{{ task.status }}</div>
    </div>
    <div class="row p-1">
        <div class="col">{% translate 'Creation date' %}</div>
        <div class="col">{{ task.created_at | date:"d.m.Y H:i" }}</div>
    </div>
    <div class="row p-1">
        <div class="col">
            <h6>{% translate 'TaskDetailLabels' %}</h6>
                {% if task.labels %}
                {% for label in task.labels.all %}
                <span class="badge badge-{{ label.color }}">{{ label }}</span>
                {% endfor %}
                {% endif %}
        </div>
    </div>
    <div class="row p-1">
        <div class="col">
            <a href="{% url 'tasks_update' pk=task.id %}">{% translate 'Change' %}</a>
            <br>
            <a href="{% url 'tasks_delete' pk=task.id %}">{% translate 'Delete' %}</a>
        </div>
    </div>
</div>
</div>
</div>
{% endblock %}